<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RL_Running_Man_Storyboard.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8F42B44E2C17BFC378E621008F4D2DB6DA88D99D</string>
				<key>dateExpires</key>
				<string>5/19/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8UCMBZCH48.something.RL-Running-Man-Storyboard</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8UCMBZCH48</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>8UCMBZCH48.something.RL-Running-Man-Storyboard</string>
				</array>
			</dict>
			<key>name</key>
			<string>RL_Running_Man_Storyboard.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>52780525-e5a9-4d9f-91ae-44de511c39b1</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: something.RL-Running-Man-Storyboard</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8UCMBZCH48</string>
				<key>name</key>
				<string>Qianbo Yin</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
